* {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}


h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 2px solid #000;
  outline: 2px solid #000; /* Thickening outline */
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square.highlight {
  background: lightgreen;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  background-color: black;
  border-radius: 15px;
}


.game {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.game-info {
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.game-info button{
  border-radius: 15px;
  font-size: larger;
}

.game-bg img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1; /* Pushes the background behind other elements */
  background-size: cover;
  background-position: center;

}